body{background-color: #34C6CD;
width: 700px;	
margin: auto}

#header {font-family: Arial; font-style: bold;
top: 30px;
right: 20px;
color: black;
margin: 25px, 50px;
text-align: center;
font-size: 3.0em;
background-color: #01939A;
border-radius: 50px;
border: 2px solid;
box-shadow: 10px 10px 5px #888888;}

.content{
font-family: sans-serif;
margin: 30px, 200px;
border: 30px, 200px;
font-size: 1.4em;


}
a:link{color: black;}
a:visited{color: black;}
a:hover{color: blue;};
a:active{color: pink;}

#pic{
	float: left;
}
.img{
	width: 500px;
	height: 300px;
	margin: auto;
}
.links{font-family: sans-serif;
font-size: 1.4em;
width: 45px;
height: 90px;
position: absolute;
left: 20px;
top: 250px;
color: white;
}