body{
background: linear-gradient(#18bc9c, #fff, #2c3e50);
margin: 10%, 15%}

#header {    
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
text-transform: uppercase;
top: 30px;
right: 20px;
color: #e9e9e9;
text-align: center;
font-size: 3.0em;
}
.img{
	width: 400px;
	height: 300px;
	border-radius: 5px;
	
}
.jpg{
	width: 300px;
	height: 200px;
	float: left;
	padding: 5px;
	border-radius: 10px;

}
.video{
	float: left;
}

.content{
font-size: 20px;
margin: 50px 250px;
font-family: Helvetica,Arial,sans-serif;
border: 5px solid;
border-color: black;
padding: 30px;
border-radius: 25px;
box-shadow: 10px 10px 10px #888888;

}
a:link{color: black;}
a:visited{color: black;}
a:hover{color: blue;};
a:active{color: pink;}

#date{

	width: 700px;
	margin: auto;
}
#pic{
	float: left;
}
.my_pic{
	width: 150px;
	height: 150px;
	margin: auto;
	border-radius: 30%;
}

.sm_img{
width: 35px;
height: 35px;
border-radius: 45%;
}
.links{font-family: Helvetica,Arial,sans-serif;
font-size: 1em;
width: 200px;
height: 0px;
position: fixed;
right: 40px;
top: 150px;
bottom: 100px;
}

 .links a{
	font-family: sans-serif;
	text-decoration: none;
	margin: 10px;
}
.links a:hover{
	background-color: black;
	color: white;
	border-radius: 10px;
	margin: 10px;
	padding: 5px
}
.about_me{
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1em;
	width: 200px;
	height: 70px;
	position: fixed;
	left: 40px;
	top: 100px;
	bottom:100px;
}

